@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: Epilogue;
	src: url(/fonts/Epilogue-VariableFont_wght.woff);
}

*,
::after,
::before {
	box-sizing: border-box;
}

:root {
	--primary-color: #11293d;
	--secondary-color: #6a5acd;
	--terciary-color: #35ca87;
	--complement-color: #cac535;

	font-family: Epilogue, system-ui, -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;

	color: #eee;
	background-color: var(--primary-color);
}

body {
	max-width: 1400px;
	min-height: 100vh;
	margin: 0 auto;

	display: flex;
	justify-content: center;
	align-items: center;
}

input {
	padding: 1rem;
	border-radius: 5px;
	color: #000;
}

button {
	padding: 1rem 2rem;
	border-radius: 5px;
	background-color: #ddd;

	background-color: var(--secondary-color) !important;
	transition: filter 0.3s ease, box-shadow 0.3s ease;
	max-width: fit-content;
}

button:hover {
	filter: hue-rotate(-45deg);
	cursor: pointer;

	box-shadow: -5px 5px #0007;
}
